body{
    margin: 0px;    
}
.content{
    
    max-width: 100%;
    height: 950px;
}
#home{
    background-image: url("../img/f1.jpg");    
}
.cabecalhoTabela{
    width: 100%;
    margin: 10px;
    border-collapse: collapse;
}
.tabelaCorridas{
    margin: 10px;    
    border-collapse: collapse;
    width: 100%;
}

td,th{
    border-radius:1px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 20%;
}
td{
    cursor: pointer;
}

tr:hover{
    background-color: #f5f5f5;
}
ul,.descricao{
    margin-left: 10px;
    padding: 10px
    
}
.selecaoCorrida> li{
    display: inline;
}
.informacoes>li{
    display: inline;
}

.animacao{
    margin: auto;
    width: 35%;
}
.rua>img{
    margin-top: 20px;
    position: relative;
    top:0px;
    left: 0px;
    max-width: 100%;
    height: 100px;
    z-index: -1;
}
.carro{
    position: absolute;
    top: 96px;
    left: 38%;
    
}
.carro>img{
    border-radius: 8px;
    position: relative;
    width: 60px;
    height:30px;
    
    animation-name: f1;
    animation-duration: 3.7s;
    animation-iteration-count: infinite;   
    
}
@keyframes f1{
    0%    {left:0%;}
    20%   {transform: rotate(0deg)}
    30%   {left:455%; transform: rotate(180deg)}
    40%   {left:-0%;}
    90%   {transform: rotate(0)}
    100%  {transform: rotate(-180)}
      
}
.cabecalho> ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.cabecalho>ul>li {
    float: left;
}

.cabecalho>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cabecalho>ul>li a:hover {
    background-color: #111;
}
.myButton{
    background-color:transparent; 
    border:none; 
    padding:0;
    margin:0
}